/*genral styyyyles  */
body {
    background-color: #5ce0b9;
    color: #032885;
    font-family: SpaceGrotesk-reg;
    margin: 0 auto;
    padding-top: 30px;
    width: 75%;


}

@font-face {
    font-family: SpaceGrotesk-reg;
    src: url(fonts/SpaceGrotesk-Regular.otf);
}

hr {
    border: 1px solid #1152f3;
}

blockquote {
    padding-bottom: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #1152f3;
}

p {
    font-size: 1rem;
    margin: 1em;
}

/*site title*/
h1 {
    font-size: 2.6rem;
}

/*page titles LARGE - teaching*/
h2 {
    font-size: 1.6rem;
}

/*page titles SMALL - teaching*/
h3 {
    font-size: 1.4rem;
    /*    font-style: italic;*/
    margin: 0 auto;
    text-align: center;
}

h4 {
    margin: 1px;
}

h5 {
    margin: 1px;
}

a:link {
    text-decoration: none;
    color: #1152f3;
}

a:visited {
    color: #1152f3;
}

a:hover {
    color: #032885;
}

a:active {
    color: #1152f3;
}

/*my name at top of site*/
.site-title {
    margin: 0 auto;
    /*    width: 80%;*/
    text-align: center;
    padding-bottom: 20px;
}

/*my name at top of site*/
.site-title a {
    text-decoration: none;
    color: #1152f3;

}

/*Menus*/
.main-nav {
    font-size: 1.8rem;
    margin: 0 auto;
    /*    width: 70%;*/
    text-align: center;
    padding-bottom: 40px;
}

.main-nav a {
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    color: #1152f3;
}

.main-nav a:hover {
    text-decoration: overline;
}

.main-nav .active {
    text-decoration: overline;
    /*    font-style: italic;*/
}

/*PORTFOLIO*/
/*container for portfolio on main page*/
.projects {
    display: grid;
    grid-template-columns: auto auto;
    /*    width: 75%;*/
    margin: 0 auto;
    align-items: center;
}

/*for thumbs on main page*/
.projects-item {
    padding: 10px;
    text-align: center;
}

img.projects-item{
        max-height: 100px;
}

/*title at top of portfolio pages*/
.page-title {
    font-size: 1.4em;
    font-style: italic;
    /*    width: 80%;*/
    margin: 10px auto;
    text-align: center;
}


/*page content*/
.about-img {
    float: right;
    width: 38%;
    padding: 8px;
    max-width: 400px;
}

/* container for all pages except the portfolio */
.project-page {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: 1fr 1fr 1fr;
    /*    width: 70%;*/
    position: relative;
    margin: 0 auto;
}

/*
+------------+------------+------------+
|first third |second third| third third|    
+------------+------------+------------+
|     two third           |            |
+------------+------------+------------+
|            full width                |
+------------+------------+------------+
|            |    second two third     |
+------------+------------+------------+
*/
.firstthirdgrid {
    grid-column: 1 / span 1;
    /*    background: orange;*/
}

.secondthirdgrid {
    grid-column: 2 / span 1;
    /*       background: orange;*/
}

.thirdthirdgrid {
    grid-column: 3 / span 1;
    /*       background: orange;*/
}

.twothirdgrid {
    grid-column: 1 / span 2;
    /*         background: green;*/
}

.fullwidthgrid {
    grid-column: 1 / span 3;
    /*background: orange;*/
}

.secondtwothirdgrid {
    grid-column: 2 / span 2;
    /*background: orange;*/
}


/*footer*/
.footer-area {
    padding-top: 35px;
    margin: 0 auto;
    width: 80%;
    text-align: center !important;
    padding-bottom: 30px;
    color: #1152f3;
}


.footer-menu {
    padding-top: 25px;
    font-size: 1.1em;

}

.footer-menu a {
    padding-right: 17px;
    text-decoration: none;
}

.footer-menu img {
    padding-top: 10px;
    max-width: 25px;
}

.footer-cc p {
    font-size: .8em;
}

.footer-cc p {
    padding-top: 10px;
}


/* SMALL SCREENS */
@media screen and (max-width: 800px) {

    .projects {
        grid-template-columns: auto;
    }

    .firstthirdgrid {
        grid-column: 1 / span 3;
    }

    .twothirdgrid {
        grid-column: 1 / span 3;
    }

    .secondtwothirdgrid {
        grid-column: 1 / span 3;
    }

    .fullwidthgrid {
        grid-column: 1 / span 3;
    }

    .front-page {
        font-size: 1.9em;
    }

    .thirdthirdgrid {
        grid-column: 1 / span 3;
    }

    .main-nav {
        display: block;
    }

    .about-img {
        float: none;
        width: 80%;
    }

    .footer-menu {
        font-size: .8em;

    }

}
