/* setting up the grid
see https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display
for more into */
body {
    background-color: #5ce0b9;
    background-image: linear-gradient(0deg, #5ce06b, #5ce0b9);
    color: black;
    font-family: SpaceGrotesk-reg;
}

@font-face {
    font-family: SpaceGrotesk-reg;
    src: url(fonts/SpaceGrotesk-Regular.otf);
}

.front-page {
    font-size: 3em;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
}

/* Style content */

.p {}

.h1 {}

h2 {}

#toggleText1,
#toggleText2,
#toggleText3,
#toggleText4,
#toggleText5,
#toggleText6,
#toggleText7,
#toggleText8,
#toggleText9,
#toggleText10 {
    display: none;
}



.teaching-text p {
    font-style: italic;
}

.h3 {}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h4 {
    margin: 1px;
}

h5 {
    margin: 1px;
}

a:link {
    color: black;
}

a:visited {
    color: black;

}

a:hover {
    color: orchid;

}

a:active {
    color: darkgreen;
}

.page-text {
    display: grid;
    grid-template-columns: auto;
    width: 75%;
    margin: 10px auto;

}

.portfolio {
    display: grid;
    grid-template-columns: auto auto;
    width: 75%;
    margin: 0 auto;
}

.portfolio-item {
    padding: 10px;
    text-align: center;
}


.main-nav {
    padding: 10px;
    font-size: 30px;
}

.main-nav a {
    /*   border: 2px solid rgba(0, 0, 0, 0.8);*/
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}



/* 

.              .   .'.     \   /
   \   /      .'. .' '.'   '  -=  o  =-
 -=  o  =-  .'   '              / | \
   / | \                          |
     |                            |
     |                            |
     |                      .=====|
     |=====.                |.---.|
     |.---.|                ||=o=||
     ||=o=||                ||   ||
     ||   ||                ||   ||
     ||   ||                ||___||
     ||___||                |[:::]|
     |[:::]|                '-----'
     '-----'

   Responsive layout Responsive layout 

Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {

    .front-page {
        font-size: 1.9em;

    }

    .main-nav {
        display: inline-block;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    font-size: 1.5em;
}
